In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataRootPath = "../Machine_learning/data/"

In [11]:
df = pd.read_csv(dataRootPath + "initial_data/frmgham2.csv")
print(df.shape)
df.head()

(11627, 39)

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

## EDA

In [7]:
df.columns

Index(['RANDID', 'SEX', 'TOTCHOL', 'AGE', 'SYSBP', 'DIABP', 'CURSMOKE',
       'CIGPDAY', 'BMI', 'DIABETES', 'BPMEDS', 'HEARTRTE', 'GLUCOSE', 'educ',
       'PREVCHD', 'PREVAP', 'PREVMI', 'PREVSTRK', 'PREVHYP', 'TIME', 'PERIOD',
       'HDLC', 'LDLC', 'DEATH', 'ANGINA', 'HOSPMI', 'MI_FCHD', 'ANYCHD',
       'STROKE', 'CVD', 'HYPERTEN', 'TIMEAP', 'TIMEMI', 'TIMEMIFC', 'TIMECHD',
       'TIMESTRK', 'TIMECVD', 'TIMEDTH', 'TIMEHYP'],
      dtype='object')

In [14]:
df.nunique().to_frame().reset_index().rename(columns={"index":"features", 0:"uniqueValue"})

    features  uniqueValue
0     RANDID         4434
1        SEX            2
2    TOTCHOL          299
3        AGE           50
4      SYSBP          260
5      DIABP          160
6   CURSMOKE            2
7    CIGPDAY           45
8        BMI         1818
9   DIABETES            2
10    BPMEDS            2
11  HEARTRTE           83
12   GLUCOSE          211
13      educ            4
14   PREVCHD            2
15    PREVAP            2
16    PREVMI            2
17  PREVSTRK            2
18   PREVHYP            2
19      TIME          932
20    PERIOD            3
21      HDLC          105
22      LDLC          262
23     DEATH            2
24    ANGINA            2
25    HOSPMI            2
26   MI_FCHD            2
27    ANYCHD            2
28    STROKE            2
29       CVD            2
30  HYPERTEN            2
31    TIMEAP         1606
32    TIMEMI         1529
33  TIMEMIFC         1543
34   TIMECHD         1716
35  TIMESTRK         1525
36   TIMECVD         1634
37   TIMEDTH         1419
38   TIMEHYP         1519

In [23]:
# find missing values for each column

missingValue = df.isna().sum().to_frame().reset_index().rename(columns={"index":"features", 0:"cnt_missingValues"})
missingValue = missingValue[missingValue["cnt_missingValues"]!= 0]   
missingValue

    features  cnt_missingValues
2    TOTCHOL                409
7    CIGPDAY                 79
8        BMI                 52
10    BPMEDS                593
11  HEARTRTE                  6
12   GLUCOSE               1440
13      educ                295
21      HDLC               8600
22      LDLC               8601

In [50]:
print("HDLC column missing value percentage:" ,list(missingValue[missingValue['features']=='HDLC'].cnt_missingValues/df.shape[0])[0])
print("LDLC column missing value percentage:" ,list(missingValue[missingValue['features']=='LDLC'].cnt_missingValues/df.shape[0])[0])

HDLC column missing value percentage: 0.7396576933000774
LDLC column missing value percentage: 0.7397437000086007